

   
       
body{
    margin:0;
    padding:0;
}
        
        
   .bg{background:url('D:/s1.jpeg') no-repeat; width: 1500px; height: 700px;margin-top: 50px;}

   label {
	
	color: white;
    
	
}



